// icon class

$base_url: "/public/img/icon";

$besence_icons: (
    "alert",
    "arrow_down_grey",
    "attending",
    "bank",
    "cancel",
    "celebrate",
    "close",
    "email",
    "password",
    "profile",
    "organiser",
    "phone",
    "event-image",
    "facebook-black",
    "web",
    "compose",
    "small-events",
    "small-location-grey"
);

@each $icon in $besence_icons {
    .be-icon-#{$icon} {
        background: url('#{$base_url}/icon_#{$icon}.svg') no-repeat center;
        z-index: 100;
    }
}