// public css

@import 'icon';
@import 'checkbox';
@import './upload.css';

$bescene-main-color: #ff7553 !default;
$bescene-white-color: #ffffff !default;
$bescene-black-color: #000000 !default;
$bescene-dim-color: #cfcfcf !default;

$bescene-button-hover-color: #ff0202;

body {
    font-family: 'Karla', sans-serif;
    border: 0;
}

// width 

.be-width-fluid {
    width: 100%;
}

.be-width-70 {
    width: 70%;
}

// theme color 

.be-theme-color {
    color: $bescene-main-color !important;
}

.be-theme-bg-color {
    background-color: $bescene-main-color !important;
}

// text

.be-text-white {
    color: $bescene-white-color !important;
}

.be-text-black {
    color: $bescene-black-color !important;
}

.be-text-dim {
    color: $bescene-dim-color !important;
}

.be-text-underline {
    text-decoration: underline;
}

.be-text-bold {
	font-size: 16px;
	font-weight: bold;
}

// size

.be-text-tiny {
    font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.be-text-small {
    font-size: 14px;
}

// align

.be-align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// flex

.be-flex {
    display: flex;
    display: -webkit-flex;
}

.be-flex.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.be-flex-between {
    justify-content: space-between;
}

.be-flex-start {
    justify-content: flex-start;
}

.be-flex-center {
    justify-content: center;
}

.be-flex-align-center {
    align-items: center; 
}

.be-flex-direction-column {
    flex-direction: column;
}


// font 
.be-font-weight-400 {
    font-weight: 400 !important;
}

.be-font-weight-700 {
    font-weight: 700 !important;
}


// cirular 

.be-cirular {
    border-radius: 500rem;
}

.be-mainpage-bg {
    background: url('/public/img/login_bg.png') no-repeat center center fixed;
    background-size: cover;
}

// .be-mainpage-bg {
//     min-height: 100%;
//     min-width: 1024px;
//     width: 100%;
//     height: auto;
//     position: fixed;
//     top: 0;
//     left: 0;
// }

// @media screen and (max-width: 1024px){
//     .be-mainpage-bg {
//         left: 50%;
//         margin-left: -512px;
//     }
// }

.be-label {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.be-input {
    width: 80%;
}

.be-input:focus {
    border-bottom: 1px solid #000000 !important;
}

.be-checkbox {
    border: 0;
}

// container 

.be-input-container {
    margin: 1em 1em 1em 1em;
}

.be-text-container {
    margin: 1em 1em 1em 1em;
}

.be-page-container {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.be-title-container {
    display: flex;
    align-items: center;
    margin: 2em 1em 1em 1em;
}

.be-checkbox-container {
    margin: 1em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
}

.be-row-container {
    margin: 1em;
    display: relative;
}

.be-column-container {
    margin: 1em;
    display: relative;
}

.be-button-container {
    margin: 1em;
}

//margin
.margin-top-half-em {
    margin-top: 0.5em;
}

.margin-bottom-half-em {
    margin-bottom: 0.5em;
}

.margin-left-half-em {
    margin-left: 0.5em;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-bottom-2em {
    margin-bottom: 2em;
}

.margin-bottom-5em {
    margin-bottom: 5em !important;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-2em {
    margin-top: 2em;
}

.margin-left-1em {
    margin-left: 1em;
}

.margin-left-3em {
    margin-left: 3em;
}

.margin-left-8em {
    margin-left: 8em;
}

.margin-right-8em {
    margin-right: 8em;
}

.margin-left-auto {
    margin-left: auto !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

.margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

// padding

.padding-left-8em {
    padding-left: 8em;
}

.padding-right-8em {
    padding-right: 8em;
}

.padding-left-2em {
    padding-left: 2em;
}

.padding-right-2em {
    padding-right: 2em;
}

.padding-0 {
    padding: 0 !important;
}

.height-100 {
    height: 100%;
}

// element

.be-button {
    background-color: $bescene-main-color !important;
    font-weight: 400 !important;
    color: $bescene-white-color !important;
    &:hover {
        background-color: $bescene-button-hover-color !important;
    }
}

.be-divider {
    display: table;
    height: 0;
    line-height: 1;
    content: '';
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0,0,0,.55);
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    user-select: none;
    width: 100%;
}
